<div class="row">

    <div class=" col-3 ">
        <div class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Start Budget Management </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-secondary m-3 " [routerLink]="['budget']">
                    BUDGETS</a>

            </div>
        </div>
    </div>
    <div class=" col-9 p-5">
        <h3> My Budgets</h3>
        <div class="card-deck" *ngIf="budgetData">
            <a [routerLink]="['/budget/budget-details' ] " [queryParams]="{data:item.id}" class="card"
                *ngFor="let item of budgetData.data.budgets">
                <img src="assets/images/logo.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>

                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated {{calculateDiff(item.last_modified_on)}} days ago</small>
                </div>
            </a>


        </div>

    </div>
</div>