<div class="row">

    <div class=" col-3 ">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Start Budget Management </div>
            <div class="sidebar-heading" *ngIf="budgetData">Budget : {{budgetData.name }}</div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light" [routerLink]="['budget']">
                    BUDGETS</a>
                <a href="#" *ngIf="budgetData" class="list-group-item list-group-item-action bg-light"
                    [routerLink]="['/budget/accounts' ] " [state]="{data:budgetData}"
                    [queryParams]="{data:budgetData.id}">
                    ACCOUNTS</a>

            </div>
        </div>
    </div>
    <div class="col-6 p-2">
        <h3 *ngIf="budgetData">Budget : {{budgetData.name}}</h3>
        <select name="my-select" class="p-2 m-2" [(ngModel)]="select" (change)="selectChange($event)">
            <option [value]="item.month" *ngFor="let item of budgetMonths">
                {{item.month}}
            </option>
        </select>




        <div *ngIf="selectedMonth" class="accordion" id="accordionExample">
            <div class="card" *ngFor="let item of selectedMonth.categories ; index as i">


                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                            attr.data-target="#collapse_{{i}}" aria-expanded="false">
                            {{item.type}}
                        </button>
                    </h2>
                </div>

                <div id="collapse_{{i}}" class="collapse" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" class="w-25">Category</th>
                                    <th scope="col" class="w-25">Budgeted</th>
                                    <th scope="col" class="w-25">Activity</th>
                                    <th scope="col" class="w-25">AVAILABLE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of item.value">
                                    <th class="w-25" scope="row">{{detail.name}}</th>
                                    <td class="w-25">${{detail.budgeted /100}}</td>
                                    <td class="w-25">${{detail.activity/100}}</td>
                                    <td class="w-25">${{detail.balance/100}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>

        </div>


    </div>
    <div class="col-3 p-5">
        <div class="bg-light border-right" id="sidebar-wrapper">


            <h5 class="sidebar-heading">TOTAL BUDGETED : ${{selectedMonth.budgeted / 100}}</h5>
            <hr class="m-3">
            <h5 class="sidebar-heading">TOTAL ACTIVITY : ${{selectedMonth.activity / 100}}</h5>
            <hr class="m-3">
            <h5 class="sidebar-heading">TOTAL AVAILABLE : ${{(selectedMonth.income - selectedMonth.to_be_budgeted)/
                100}}</h5>
            <hr class="m-3">
            <h5 class="sidebar-heading">TOTAL INFLOWS : ${{selectedMonth.income / 100}}</h5>

        </div>


    </div>
</div>